{
    "env": {
        "es6": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "@alifd/eslint-config-next",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "plugins": ["@typescript-eslint"],
    "rules": {
        "valid-jsdoc": "off",
        "max-statements": "off",
        "max-len": "off",
        "no-unused-vars": 1,
        "import/prefer-default-export": 0
    }
}
